.output-page-container {
  display: flex;
  align-items: center;
  height: 100%;
  flex-flow: column;
}

.masterContainer {
  height: 100%;
  width: 100%;
}

.buttonContainer {
  text-align: center;
  margin: 10px;
}
