.outputPageContainer {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-bottom: 30px;
}

.masterContainer {
  height: 100%;
  width: 100%;
}

.buttonContainer {
  text-align: center;
  margin: 10px;
}

.outputPageButton {
  margin: 4px;
}

.outputPageContent {
  white-space: pre-wrap;
}
